<footer class="footer">
    <a href="#header" class="footer-button">
        <img src="./assets/images/ico-arrow.svg" alt="">
    </a>
    <nav class="footer-menu-sections">
        <ul>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">ROPA</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">TIPS</a></li>
        </ul>
    </nav>

    <nav class="footer-menu-links">
        <ul >
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">TWITTER</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
            <li><a class="footer-link" href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
        </ul>
    </nav>
    
    <div class="footer-text">
        <p>©2023</p>
        <p>we &#x2764;&#xFE0F; run</p>
    </div>
</footer>