<body>
  <header id="header" class="header">
    <nav class="header-nav">
      <a href="https://adalab.es/" target="_blank" title="link adalab">
        <img class="header-nav-icon" src="./assets/images/ico-menu.svg" alt="menu icon">
      </a>
    </nav>
    
    <div class="header-container-text">
      <h1 class="header-title">Hasta un 50% de descuento</h1>
      <p class="header-text">Ya están aquí las ofertas de fin de temporada</p>
    </div>
    
      <a href="#section2" class="header-button" title="go section2">
          <img src="./assets/images/ico-scroll-down.svg" alt="imagen de fondo" title="down arrow">
      </a> 
  </header>
</body>