<body>
  <header id="header" class="header">
    <nav class="header-nav">
      <a href="https://adalab.es/" target="_blank">
        <img class="header-nav-icon" src="./assets/images/ico-menu.svg" alt="menu icon">
      </a>
    </nav>
    
    <div class="header-container-text">
      <h1 class="header-title">hasta un 50% de descuento</h1>
      <p class="header-text">Ya están aquí las ofertas de fin de temporada</p>
    </div>
      <a href="#section2" class="header-button">
          <img src="./assets/images/ico-scroll-down.svg" alt="imagen de fondo">
      </a> 
  </header>
</body>