<body>
    <main class="main">
        <section class="section1">
            <article class="section1-article">
                <p class="section1-article-small">Los sentimientos nos inspiran</p>
                <h2 class="section1-title">Conecta contigo</h2>
                <p class="section1-text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
            </article>
            <button class="section1-button">Comprar</button>
        </section>
        
        <section id="section2" class="section2">
            <h2 class="section2-title">Año nuevo, movimientos nuevos</h2>
            <article class="section2-article1">
                <h3 class="section2-subtitle">Entrenamientos</h3>
                <p class="section2-text">Sesiones de running y entrenamientos.</p>
            </article>
            <article class="section2-article2">
                <h3 class="section2-subtitle">Cualquier nivel</h3>
                <p class="section2-text">Entrenamientos para cada nivel.</p>
            </article>
            <article class="section2-article3">
                <h3 class="section2-subtitle">Exclusividad</h3>
                <p class="section2-text">Productos para miembros premium.</p>
            </article>
                <button class="section2-button">Empezar ahora</button>
        </section>
    </main>
</body>