<main class="main">
    <section class="section1">
        <article class="section1-article">
            <p class="section1-article-small">Los sentimientos nos inspiran</p>
            <h2 class="section1-title">conecta contigo</h2>
            <p class="section1-text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</p>
        </article>
        <button class="section1-button">comprar</button>
    </section>
    
    <section id="section2" class="section2">
        <h2 class="section2-title">Año nuevo, movimientos nuevos</h2>
        <article class="section2-article1">
            <h3>Entrenamientos</h3>
            <p>Sesiones de running y entrenamientos.</p>
        </article>
        <article class="section2-article2">
            <h3>Cualquier nivel</h3>
            <p>Entrenamientos para cada nivel.</p>
        </article>
        <article class="section2-article3">
            <h3>Exclusividad</h3>
            <p>Productos para miembros premium.</p>
        </article>
            <button class="section2-button">Empezar ahora</button>
    </section>
</main>