
.header {
    
    height: 100vh;
    background-image: url("../images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
   
 
     
    &-nav {
        background-color: $color-orange;
        width: 34px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
       
     } 
        
    &-container-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
    }    

    &-title {
        width: 20rem;
        font-family: $font-titles;
        color: $color-wite;
        text-transform: uppercase;
        font-size: 1.9rem;
        text-align: center;
        line-height: 3rem;  
    }

    &-text {
        width: 20rem;
        font-family: $font-text;
        color: $color-wite;
        font-size: 1rem;
        text-align: center;
        padding: 0 2rem 0 0;
        line-height: 1.3rem; 
    }

    &-button {
        background-color: $color-wite;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
