/** HEADER **/

.header {
    height: 100vh;
    background-image: url(../images/cover.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  
&-nav {
    background-color: $color-orange;
    width: 34px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
} 
        
&-container-text {
    width: 27rem;
    height: 15vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
}    

&-title {
    font-family: $font-titles;
    color: $color-wite;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;  
}

&-text {
    font-family: $font-text;
    color: $color-wite;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.9rem;      
}

&-button {
    background-color: $color-wite;
    width: 3.79rem;
    height: 3.57rem;
    margin-bottom: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
}
